<section class="intro-2 hm-gradient">
  <div class="full-bg-img">
    <div class="container flex-center">
      <div class="row flex-center pt-5 mt-3">
        <div class="col-lg-6 text-center text-md-left margins">
          <div class="white-text mr-auto">
            <h1 class="lead">Every Event Imagined<span class="lead">...</span></h1>
            <mat-divider></mat-divider>
            <h6 class="lead" data-wow-delay="0.3s">This online portal is the <b>event module</b> of the <b>Substation Automation Project</b>. It is designed to aid in rapid collection of real time events from substations across the country. Events are captured through the MODBUS RTU protocol used by the relays at the substation. It also aids you setup relays and substations to be captured.</h6>
            <br>
            <mat-divider></mat-divider>
            <br>
            <a  routerLink="/events" routerLinkActive="active" class="btn" mat-raised-button><span class="lead">Get Started...</span>&nbsp;<i class="fa fa-send"></i></a>
          </div>
        </div>

        <div class="col-lg-6 wow fadeInRight d-flex justify-content-center " data-wow-delay="0.3s">
          <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/iphone-admin.png" alt="" class="d-none img-responsive">
        </div>
      </div>
    </div>
  </div>
</section>
